{% extends "base.html" %}

{% block content %}
    <div style="margin-left: 20px">

        <div style="color: white; float: left;">
            Graph degrees
            <table>
                <tr>
                    <td>Node</td>
                    <td>Degree</td>
                </tr>
                {% for k,v  in data[0].items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div style="color: white; float: left; margin-left: 20px;">
            Graph pagerank:<br>
            <table>
                <tr>
                    <td>Node</td>
                    <td>Pagerank</td>
                </tr>
                {% for k,v  in data[1].items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div style="color: white; float: left; margin-left: 20px;">
            Graph betweennes centrality:<br>
            <table>
                <tr>
                    <td>Node</td>
                    <td>Betweennes</td>
                </tr>
                {% for k,v  in data[2].items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div style="float: left; margin-left: 20px;">
            <div style="background-color: white; opacity: .6;">
                Degrees:<br>
                number of neighbours of a node
            </div>
            <br>
            <div style="background-color: white; opacity: .6;">
                PageRanks: <br>
                PageRank computes a ranking of the nodes in the graph G based on the structure of the incoming links.
                <br>
                It was originally designed as an algorithm to rank web pages
            </div>
            <br>
            <div style="background-color: white; opacity: .6;">
                Betweenness Centrality: <br>
                Betweenness Centrality is a way of detecting the amount of influence a node has over the flow of
                information<br>
                in a graph. It is often used to find nodes that serve as a bridge from one part of a graph to
                another,<br>
                for example in package delivery process or a telecommunication network.:

            </div>
        </div>
    </div>
{% endblock %}