{% extends "base.html" %}

{% block content %}

    <div style="color: white">
    <a href="{{ url_for('home.get_collections', type='node') }}" style="color: white">extract all node types</a> <br>
    http://127.0.0.1:5000/get_collections/[type]<br><br>

    <a href="{{ url_for('home.get_collection_fieldnames2', type='node', collection="person") }}" style="color: white">extract
        all available fieldnames from a specific node</a><br>
         http://127.0.0.1:5000/get_collection_fieldnames/[type]/[collection]<br><br>
    <a href="{{ url_for('home.get_collection_ids', type='node', collection="person") }}" style="color: white">extract
        all record id's specific node</a><br>
         | http://127.0.0.1:5000/get_collection_ids/[type]/[collection]<br><br>

    <a href="{{ url_for('home.get_collection_record', type='node', collection="person", id="huizinga, paul") }}" style="color: white">extract
        all values for a specific node's ID</a><br>
     | http://127.0.0.1:5000/get_collection_record/[type]/[collection]/[id]<br><br>

    <a href="{{ url_for('home.get_graph_nodes', base='node', id='all') }}" style="color: white">extract node ID's</a><br>
        returns list of node id's (used for d3.js)<br>
     | http://127.0.0.1:5000/graph_nodes<br><br>

    <a href="{{ url_for('home.get_graph_edges', base='node', id='all') }}" style="color: white">extract all edges</a><br>
        returns a list of source node id's and target node id's.<br>
     | http://127.0.0.1:5000/graph_edges<br><br>

    remove key from collection<br>
     | http://127.0.0.1:5000/remove_key/node/testnode/testkey<br><br>

{#    create database<br>#}
{#     | http://127.0.0.1:5000/database/create/[database name]<br><br>#}
{##}
{#    switch database<br>#}
{#     | http://127.0.0.1:5000/database/switch/[database name]<br><br>#}
    </div>

{% endblock %}