{% extends "base.html" %}

{% block content %}

    <div class="right">
        <svg width="250" height="250"></svg>
    </div>

    <script>

        data = [
            {
                "name": "woef",
                "value": 50,
                "betweenness": .8,
                "degrees": 3,
                "centrality": .7
            },
            {
                "name": "eef",
                "value": 20,
                "betweenness": .6,
                "degrees": 1,
                "centrality": .5
            },
            {
                "name": "afwoef",
                "value": 15,
                "betweenness": .75,
                "degrees": 4,
                "centrality": .6
            },
            {
                "name": "tref",
                "value": 15,
                "betweenness": .9,
                "degrees": 5,
                "centrality": .9
            }
        ]

        d3.select('svg').selectAll("*").remove();

        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height");

        console.log(width, height)

        //set margins
        const margin = {left: 50, right: 20, top: 20, bottom: 40}
        const g_width = width - margin.left - margin.right
        const g_height = height - margin.top - margin.bottom
        console.log('g_widht: ' + g_width + ', g_height: ' + g_height)

        const g = svg.append("g")
            .attr("transform", `translate(${margin.left}, ${margin.top})`)

        //create y label
        {#g.append("text")#}
        {#    .attr("class", "y axis-label")#}
        {#    .attr("x", -(g_height / 2))#}
        {#    .attr("y", -10)#}
        {#    .attr("font-size", "20px")#}
        {#    .attr("text-anchor", "middle")#}
        {#    .attr("transform", "rotate(-90)")#}
        {#    .text("y label")#}

        //create x label
        g.append("text")
            .attr("class", "x axis-label")
            .attr("x", (g_width / 2))
            .attr("y", g_height + 40)
            .attr("font-size", "20px")
            .attr("text-anchor", "middle")
            .text("value")

        {# d3.json(dataset)#}
        {#.then(data => {#}
        {#    data.forEach(d => {#}
        {#        d.value = Number(d.value)#}
        {#    })#}

        console.log(data)

        // determine x-axis scales
        const x = d3.scaleBand()
            .domain(data.map(d => d.name))
            .range([0, g_width])
            .paddingInner(0.3)
            .paddingOuter(0.2)

        // determine y-axis scales
        const y = d3.scaleLinear()
        {#.domain(data.map(d => d.value))#}
            .domain([0, 100])
            {#.range([g_height, 0])#}
            .range([0, g_height])

        const xAxisCall = d3.axisBottom(y)
        g.append("g")
            .attr("class", "x axis")
            .attr("transform", `translate(0, ${g_height})`)
            .selectAll("text")
            .attr("y", "10")
            .attr("x", "0")
            .attr("text-anchor", "end")
            // .attr("transform", "rotate(-40)")
            .call(xAxisCall)

        const yAxisCall = d3.axisLeft(x)
        g.append("g")
            .attr("class", "y axis")
            {#.attr("transform", `translate(0, ${g_height})`)#}
            .call(yAxisCall)
            .selectAll("text")
            .attr("y", "0")
            .attr("x", "0")
            .attr("text-anchor", "end")
        // .attr("transform", "rotate(-40)")

        {#const yAxisCall = d3.axisLeft(y)#}
        {#    .ticks(3)#}
        {#    .tickFormat(d => d + "m")#}
        {#g.append("g")#}
        {#    .attr("class", "y axis")#}
        {#    .call(yAxisCall)#}

        const rectangles = g.selectAll("rectangle")
            .data(data)

        rectangles.enter().append("rect")
            .attr("x", 0)
            .attr("y", d => x(d.name))
            .attr("width", (d) => y(d.value))
            .attr("height", x.bandwidth)
            .attr("stroke-width", 2)
            .attr("stroke", "black")
            .attr("fill", "white")
            .attr("opacity", "50%")


        {#rectangles.enter().append("rect")#}
        {#    .attr("x", d=>x(d.name))#}
        {#    .attr("y", d=>y(d.value))#}
        {#    .attr("width", x.bandwidth)#}
        {#    .attr("height", (d) => g_height - y(d.value))#}
        {#    .attr("fill", "white")#}
        {#    .attr("opacity", "50%")#}

        {#    }).catch(error => {#}
        {#    console.log(error)#}
        {#})
        #}
    </script>

{% endblock %}