<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graph tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css', id=2) }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>#}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function fillValuesInTextBoxes(text)
        {
            document.getElementById("source_node_type").value = text;
        }

        function addNewRow(){
            var presentRows = $("#newproptable > tbody > tr");
            var newRowId = presentRows.length + 1;
            $("#newproptable").append(
            '<tr id="' + newRowId + '">' +
                    '<td class="input"><input type="text" name="NewPropName' + newRowId + '" placeholder="property type"></td>' +
                    '<td class="input"><input type="text" name="NewPropValue' + newRowId + '" placeholder="property value"></td>' +
            '</tr>'
            );
}
    </script>
</head>
<body>
<div class="header">GraphTool</div>
<div class="menu">

    <a href="{{ url_for('home.index') }}" class="menu">Home</a> |
    <a href="{{ url_for('home.read_all') }}" class="menu">Read</a> |
    <a href="{{ url_for('home.create') }}" class="menu">Create</a> |
    <a href="{{ url_for('home.d3_test_1') }}" class="menu">D3 test 1</a> |
    <p>
</div>

{% block content %}{% endblock %}

</body>
</html>