{% extends "base.html" %}

{% block content %}

<div class="middle">
    <div class="menu">
        <form autocomplete="off" method="POST" action="{{ url_for('home.create') }}">
            <div style="float: left;">
                <div class="autocomplete" style="width:100%; float: left;">
                    <div class="menu_row">
                        <div class="menu_item">
                            <input type="text" class="menu_node_item_name" name="source_collection_name" id="source_collection_name" placeholder="node type"/>
                        </div>
                        <div class="menu_item">
                            <input type="text" class="menu_node_item_value" name="source_collection_id" id="source_collection_id" placeholder="unique node id"/>
                        </div>
                        <input type="submit" name="submitbutton" value="enter" class="submit"/><input type="submit" name="submitbutton" value="remove" class="remove" onclick="return confirm('Are you sure you want to remove this item?')"/>&nbsp;&nbsp;
                    </div>
                </div>

                <div class="source_node_collapse"><span>Expand</span></div>
                <div class="collapse">
                    <div id="source_fields">
                        <!-- dynamic content for source node -->
                    </div>

                    <div id="new_source_property" style="float: left;">
                        <div class="menu_row">
                            <div class="menu_item">
                                <input type="text" name="source_property_name" class="menu_node_item_name" placeholder="property type"/>
                            </div>
                            <div class="menu_item">
                                <input type="text" name="source_property_value" class="menu_node_item_value" placeholder="property value"/>
                            </div>
                            <input type="button" value="add" class="add" onclick="addNewPropRow('source')"/>
                        </div>
                    </div>
                </div>
            </div>


            <div style="float: left;">
                <div>
                    <div class="autocomplete" style="width:100%;">
                        <div class="menu_edge_item">
                            <input type="text" name="edge_value" id="edge_value" class="menu_edge_item_value" placeholder="edge type"/>
                        </div>
                        <input type="button" value="add" class="add"/>&nbsp;&nbsp;
                    </div>
                </div>
                <div class="edge_collapse"><span>Expand</span></div>
                <div class="collapse">
                    <div id="edge_fields">
                        <!-- dynamic content for edge properties -->
                    </div>


                    <div id="new_edge_property" style="float: left;">
                        <div class="menu_row">
                            <div class="menu_item">
                                <input type="text" name="edge_property_name" class="menu_node_item_name" id="edge_name" placeholder="property type"/>
                            </div>
                            <div class="menu_item">
                                <input type="text" name="edge_property_value" class="menu_node_item_value" id="edge_value" placeholder="property value"/>
                            </div>
                            <input type="button" value="add" class="add" onclick="addNewPropRow('edge')"/>
                        </div>
                    </div>


                </div>
            </div>


            <div style="float: left;">
                <div class="autocomplete" style="width:100%; float: left;">
                    <div class="menu_row">
                        <div class="menu_item">
                            <input type="text" class="menu_node_item_name" name="target_collection_name" id="target_collection_name" placeholder="target node type"/>
                        </div>
                        <div class="menu_item">
                            <input type=open"text" class="menu_node_item_value" name="target_collection_id" id="target_collection_id"
                               placeholder="unique node id"/>
                        </div>
                        <input type="submit" name="submitbutton" value="enter" class="submit"/><input type="submit" name="submitbutton" value="merge" class="merge" onclick="return confirm('Are you sure you want to merge these items? Source node will remain')"/>
                    </div>
                </div>
                <div class="source_node_collapse"><span>Expand</span></div>
                <div class="collapse">
                    <div id="target_fields">
                        <!-- dynamic content for source node -->
                    </div>

                    <div id="new_target_property">
                        <div class="menu_row">
                            <div class="menu_item">
                                <input type="text" name="target_property_name" class="menu_node_item_name" placeholder="property type"/>
                            </div>
                            <div class="menu_item">
                                <input type="text" name="target_property_value" class="menu_node_item_value" placeholder="property value"/>
                            </div>
                            <input type="button" value="add" class="add" onclick="addNewPropRow('target')"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bottom">
    <svg width="1600" height="700"></svg>
</div>

<script src="{{ url_for('static', filename='graph.js', id=1) }}"></script>
<script src="{{ url_for('static', filename='create_functions.js', id=1) }}"></script>
    <script>create_graph('node', 'all')</script>


{% endblock %}