{% extends "base.html" %}

{% block content %}

    <div class="main">
        <form autocomplete="off" method="POST" action="{{ url_for('home.create') }}">
            <div class="white">
                <!--Make sure the form has the autocomplete function switched off:-->
                <div class="autocomplete" style="width:100%;">
                    <table class="input">
                        <tr>
                            <td class="input">
                                <input id="source_node_type" type="text" name="SourceNodeType" placeholder="node type">
                            </td>
                            <td class="input">
                                <input id="source_node_id" type="text" name="SourceNodeName"
                                       placeholder="unique node id">
                            </td>
                            <td class="button">
                                <input type="submit" value="enter" class="enter"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="white">
                <table class="input">
                    <tr>
                        <td class="input">
                            <input id="" type="text" name="NewPropName" placeholder="property type">
                        </td>
                        <td class="input">
                            <input id="" type="text" name="NewPropValue" placeholder="property value">
                        </td>
                        <td class="button">
                            <input type="submit" value="add field" class="add"/>
                        </td>
                    </tr>
                </table>
            </div>
            <br>

            <div id="fields">
{#                dynamic content#}
            </div>

        </form>
    </div>

    <script>
        // asynchronic jquery function for retrieving inputbox data dynamically
        $(document).ready(
            function () {
                var collection;
                $('#source_node_type').change(function () {
                        collection = $('#source_node_type').val();
                        console.log(collection)
                        // Make Ajax Request and expect JSON-encoded data
                        // get node id's
                        $.getJSON(
                            '/get_collection_ids' + '/' + collection,
                            function (id_data) {
                                var node_id = (id_data);
                                console.log(node_id)
                                autocomplete(document.getElementById("source_node_id"), node_id);
                            });
                        // get node fields
                        $.getJSON(
                            '/get_collection_fieldnames' + '/' + collection,
                            function (field_data) {
                                var field_name = (field_data);
                                console.log(field_name)

                                document.getElementById("fields").innerHTML = "";

                                $.each(field_data, function(k,v) {
                                    document.getElementById('fields').innerHTML += '<div class="white" id="white">\n' +
                                        '                    <table class="input">\n' +
                                        '\n' +
                                        '                        <tr>\n' +
                                        '                            <td class="input">\n' +
                                        '                                <label id="" type="text" value="'+v+'" name="'+v+'" placeholder="'+v+'">'+v+'</label>\n' +
                                        '                            </td>\n' +
                                        '                            <td class="input">\n' +
                                        '                                <input id="" type="text" name="" placeholder="">\n' +
                                        '                            </td>\n' +
                                        '                            <td class="button">\n' +
                                        '                                &nbsp;\n' +
                                        '                            </td>\n' +
                                        '                        </tr>\n' +
                                        '                    </table>\n' +
                                        '                </div>';

                                {#var option_item = '<option value="' + val + '">' + val + '</option>'#}
                                {#$('#food').append(option_item);#}
              });


                            });
                    }
                )
            });

        function autocomplete(inp, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) {
                    return false;
                }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }

            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        /*An array containing all the country names in the world:*/
        {#var node_name = ["paul", "pieter", "robert", "beau"];#}
        var node_type = JSON.parse('{{types | tojson }}');
        {#console.log(node_type)#}

        /*initiate the autocomplete function on the "myInput" element, and pass along the node_type array as possible autocomplete values:*/
        autocomplete(document.getElementById("source_node_type"), node_type);

    </script>

{% endblock %}