{% extends "base.html" %}

{% block content %}

    <div style="margin-left: 20px; color: white; ">
        <div style="font-size: 12pt;font-weight: bold">Goal</div>
        <li>Easily process new information (nodes and edges) quickly</li>
        <li>Properties have to be node specific (node 'person' has other props than node 'place')</li>
        <li>Keep it simple</li>
        <li>Supply basic query functionality</li>
        <li>Show basic graph analyses</li>
        <li>add API's for advanced analytics (and for use within the app)</li>
        <li>Learn MongoDB</li>
        <li>Learn D3.js</li>
        <li>(and Javascript)</li>
    </div>

{% endblock %}