{% extends "base.html" %}

{% block content %}

    <div style="float: left">
    <div>
{#    <div style="float: left; background: rgba(255, 255, 255, 0.6); border-style: solid;	border-width: 2px;	border-color: black; border-radius: 10px;">#}
        <br>
        <table>
            <tr>
                <td>
                    <input id="source_node_type" type="text" name="SourceNodeType" placeholder="node type">
                </td>
                <td>
                    <input id="source_node_id" type="text" name="SourceNodeId" placeholder="unique node id">
                </td>
                <td>
                    <input type="submit" value="enter" class="enter"/>
                </td>
            </tr>
        </table>
        <br>
    </div>
    </div>

{% endblock %}